<div id="header">
    <div id="header-left">
        <a class="darklink title4" href="{{ url_for('webapp.index') }}">purlity</a>
    </div>

    <div id="header-right">
        <div id="header-auth" class="button-dark">
            {% if user %}
                <a id="logout-btn" href="#">logout from {{ user.username }}</a>
            {% else %}
                <a href="{{ url_for('webapp.login') }}">log in</a>
                <span class="nosel">|</span>
                <a href="{{ url_for('webapp.register') }}">register</a>
            {% endif %}
        </div>
    </div>
</div>