{% extends 'base.html' %}

{% block head %}
<title>purlity</title>
{% endblock %}

{% block body %}
<div id="content">
    <div id="land-greet">
        <div id="land-name" class="title1">PURLITY</div>
        <div id="land-phrase">don't you want your link to look pure?</div>

        <input id="land-link" type="text" placeholder="Enter your link...">
        <button id="land-purify-btn">purify</button>
    </div>

    {% if user %}
    <div id="links-list">
        <span style="width: 100%; border-bottom: 4px solid var(--color-c1);">your links</span>

        <div id="links-list-table">
            <div>
                <span>Short URL</span>
                <span>URL</span>
                <span>Date</span>
                <span>Visits</span>
                <span>Delete</span>
            </div>

            {% for url in urls %}
            <div>
                <span><a href="/{{ url.short_url }}">{{ url.short_url }}</a><i data-shorturl="{{ url.short_url }}" class="feather-ico feather-ico-pad" data-feather="copy"></i></span>
                {% if url.url | length < 70 %}
                    <span><a href="{{ url.url }}">{{ url.url }}</a><i data-shorturl="{{ url.url }}" data-feather="copy"></i></span>
                {% else %}
                    <span><a href="{{ url.url }}">{{ url.url[:33] + '...' + url.url[-32:] }}</a></span>
                {% endif %}
                <span>{{ url.created_date.strftime("%X %x") if url.created_date else '-' }}</span>
                <span>{{ url.visits | length }}</span>
                <span><i data-shorturl="{{ url.short_url }}" class="feather-ico" data-feather="trash-2"></i></span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}