<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in | purlity</title>

    <link rel="icon" type="image/x-icon" href="./static/icon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./static/js/anime.min.js"></script>
    <script src="./static/js/scripts.js"></script>
</head>
<body>
    {% include 'header.html' %}

    <div id="content">
        <div id="authform">
            <span class="title3">Welcome back! 👐</span>
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>register</button>
            <span class="text2">We are already friends? <a href="login.html">Log in</a> then!</span>
        </div>
    </div>

</body>
</html>