{% extends 'base.html' %}

{% block head %}
<title>log in | purlity</title>
{% endblock %}

{% block body %}
<div id="content">
    <div id="authform">
        <span class="title3">Welcome back! 👐</span>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>register</button>
        <span class="text2">We are already friends? <a href="login.html">Log in</a> then!</span>
    </div>
</div>
{% endblock %}