{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<title>log in | purlity</title>
{% endblock %}

{% block body %}
<div id="content">
    <div id="authform" type="login">
        <span class="title3">Welcome back! 👐</span>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button id="authform-submit">log in</button>
        <span class="text2">New here? Try <a href="{{ url_for('webapp.register') }}">register</a> first!</span>
    </div>
</div>
{% endblock %}