{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<title>registration | purlity</title>
{% endblock %}

{% block body %}
<div id="content">
    <div id="authform" type="registration">
        <span class="title3">Hello, stranger!👋</span>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button id="authform-submit">register</button>
        <span class="text2">We are already friends? <a href="{{ url_for('webapp.login') }}">Log in</a> then!</span>
    </div>
</div>
{% endblock %}